@import "./variables";

html, body {
  margin: 0;
  padding: 0;
}

body, input, button {
  font-family: 'Open Sans', sans-serif;
}

body {
  background: url("/assets/pluto.jpg") no-repeat center center fixed;
  background-size: cover;

  .box-shadow {
    box-shadow: $lightBoxShadow;
  }
}