@import "./variables";
@import "./colors";

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body, input, button {
  font-family: 'Open Sans', sans-serif;
}

body {
  background: url("/assets/pluto.jpg") no-repeat center center fixed;
  background-size: cover;
  color: $textColor;

  .box-shadow {
    box-shadow: $lightBoxShadow;
  }

  .btn {
    background-color: $accentColor;
    text-decoration: none;
    color: $white;
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
}