<div class="search">
  <div class="search-content">
    <div *ngIf="error" class="error">
      The url is malformed ! <a class=btn routerLink="/">Go back home</a>
    </div>
    <div *ngIf="!error">
      <div class="top-bar">
          <app-search-form [defaultStartDate]="startDate" [defaultEndDate]="endDate" (onSearch)="search($event)"></app-search-form>
      </div>
      <app-loader *ngIf="fetching"></app-loader>
      <div *ngIf="!fetching" class="results">
        <app-apod class="apod" *ngFor="let apod of apods" [apod]="apod"></app-apod>
      </div>
    </div>
  </div>
</div>