<div class="search">
  <div class="search-content">
    <div *ngIf="error" class="error">
      The url is malformed ! <a class="btn" routerLink="/">Go back home</a>
    </div>
    <div *ngIf="apiError" class="error">
      The api did an oopsie ! <a class="btn" routerLink="/">Go back home</a>
    </div>
    <div *ngIf="!error && !apiError">
      <div class="top-bar">
          <a routerLink="/"><img class="logo" src="assets/nasa-logo.png" alt="nasa-logo"></a>
        <app-search-form class="form" [defaultStartDate]="startDate" [defaultEndDate]="endDate" 
        (launchSearch)="search($event)" (launchRandom)="random()"></app-search-form>
      </div>
      <app-loader *ngIf="fetching"></app-loader>
      <div *ngIf="!fetching" class="results">
        <app-apod class="apod" *ngFor="let apod of apods" [apod]="apod"></app-apod>
        <div class="load-more box-shadow" *ngIf="lastDate < endDate && !fetchingMore && !randomParamInRoute" (click)="loadMore()">Load more</div>
        <app-loader class="load-more" *ngIf="fetchingMore"></app-loader>
      </div>
    </div>
  </div>
</div>