@import '../../styles/colors';

.search {

  .error {
    text-align: center;
    padding: 50px 0;
  }

  .search-content {
    margin: auto;

    display: flex;
    flex-direction: column;

    width: 1165px;
    max-width: 90%;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.9);
  }

  .top-bar {
    padding: 10px;
  }

  .results {
    padding: 20px;
    flex: 1;
    
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-gap: 40px;
    justify-content: center;
  }
}