@import "../../styles/colors";

.home {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .form-container {
    width: 700px;
    max-width: 90%;
    border-radius: 10px;
    padding: 10px;
    background-color: $translucentBackground;    

    .title {
      margin: 10px 0 0 0;
    }

    .logo {
      margin: 10px 0;
      width: 250px;
      height: 250px;
    }
  }
}