<div class="apod box-shadow" (click)="openDetails()">
  <div class="thumbnail">
    <img class="thumbnail-content" *ngIf="apod.mediaType === 'image'" [src]="apod.url" [alt]="apod.title">
    <iframe class="thumbnail-content" *ngIf="apod.mediaType === 'video'" [src]="sanitizer.bypassSecurityTrustResourceUrl(apod.url)" frameborder="0"></iframe>
  </div>
  <div class="infos">
    <div class="title">{{apod.title}}</div>
    <div class="date">{{apod.date | date: 'dd LLLL yyyy' : 'UTC'}}</div>
  </div>

  <app-modal [modalTitle]="apod.title" [show]="showModal" (close)="closeModal()" (click)="$event.stopPropagation()">
    <div class="apod-details">
      <div class="apod-resource">
        <img class="apod-resource-content" *ngIf="apod.mediaType === 'image'" [src]="apod.url" [alt]="apod.title">
        <iframe class="apod-resource-content" *ngIf="apod.mediaType === 'video'" [src]="sanitizer.bypassSecurityTrustResourceUrl(apod.url)" frameborder="0"></iframe>
      </div>
  
      <div class="copyright" *ngIf="apod.copyright">Credits: {{ apod.copyright }}</div>
      
      <div class="date">{{apod.date | date: 'dd LLLL yyyy' : 'UTC'}}</div>
  
      <div class="explanation">{{ apod.explanation }}</div>
    </div>
  </app-modal>
</div>